/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 20px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

form .alert {
	padding: 5px 10px;
}
