<div ng-app="app">
<script src="/js/password-reset.js"></script>
<h1>Password Reset</h1>
<p>
	If you've forgotten your password, we'll send you an email to reset your password.
</p>
<div ng-controller="PasswordResetController">

	<form class="form" role="form" name="form" method="post" novalidate>
		<div class="form-group">
			<label for="email">Email</label>
			<input placeholder="john@example.com" class="form-control" type="email" name="email" id="email" ng-disabled="done" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required>
	    </div>
		<span ng-show="form.$submitted || form.email.$touched">
			<div class="alert alert-danger ng-cloak" ng-show="form.email.$error.required"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Please enter email.</div>
			<div class="alert alert-danger ng-cloak" ng-show="form.email.$error.email"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Email is not valid.</div>
		</span>
		
		<button class="btn btn-primary ng-cloak" type="submit" ng-click="resetPassword()" ng-show="!done">Reset Password</button>

		<div class="alert alert-info ng-cloak" ng-show="done">
			<p>
				<strong>Password reset email was sent to {{user.email}}</strong>
			</p>
			<p>
			Please check your Inbox and click on the link to reset password.
			</p>
			<p>
				If you don't see this email in your Inbox within 15 minutes, look for it in your Spam mail folder. If you find it there, please mark the email as "Not Spam".
			</p>
		</div>

		<p class="pull-right">
			<a class="btn btn-default" href="$signupUrl">Sign Up</a>
			<a class="btn btn-default" href="$loginUrl">Login</a>
		</p>
		
	</form>
</div>
</div>
