<div ng-app="app">
<script src="/js/password-reset-form.js"></script>
<h1>Password Reset</h1>
<div ng-controller="PasswordResetFormController">

	<form class="form ng-cloak" role="form" name="form" method="post" novalidate ng-show="!done">
		<p>
			Please enter new password.		
		</p>
	    <div class="form-group has-feedback">
			<label for="password">Password</label>
			<input class="form-control" type="password" name="password" id="password" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }" required minlength="6"> 
			<i class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.password.$valid"></i>
		</div>
		<span ng-show="form.$submitted || form.password.$touched">
			<div class="alert alert-danger ng-cloak" ng-show="form.password.$error.required"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Please enter password.</div>
			<div class="alert alert-danger ng-cloak" ng-show="form.password.$error.minlength"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Password should be at least 6 characters.</div>
		</span>
		<div class="form-group has-feedback">
			<label for="password2">Confirm password</label> 
			<input class="form-control" type="password" name="password2" id="password2" ng-model="user.password2" ng-model-options="{ updateOn: 'blur' }" required repeatpassword>
			<i class="glyphicon glyphicon-ok form-control-feedback" ng-show="form.password2.$valid"></i>
		</div>
		<span ng-show="form.$submitted || form.password2.$touched">
			<div class="alert alert-danger ng-cloak"  ng-show="form.password2.$error.required"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Please retype password.</div>
			<div class="alert alert-danger ng-cloak"  ng-show="form.password2.$error.repeatpassword"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Password is not the same.</div>
		</span>
		
		<input type="hidden" name="uuid" ng-value="user.uuid='$uuid'" ng-model="user.uuid">
		
		<button class="btn btn-primary" type="submit" ng-click="resetPassword()">Change Password</button>
		<p class="pull-right">
			<a class="btn btn-default" href="$loginUrl">Log in</a>
		</p>
	</form>

	<div class="ng-cloak" ng-show="done">
	
		<div class="alert alert-success">
			<p>
				<strong>Password changed!</strong>
			</p>
		</div>

		<a class="btn btn-default" href="$loginUrl">Log in</a>
	
	</div>

</div>
</div>
