<script src="/js/registration.js"></script>
<h1>Create an account</h1>
<div ng-controller="RegisterController">
	<form name="form" class="css-form" method="post" novalidate>
		<label for="email">Email:</label> 
		<input type="email" name="email" id="email" ng-model="user.email" ng-model-options="{ updateOn: 'blur' }" required uniqueemail>
		<span ng-show="form.$submitted || form.email.$touched">
	      <span ng-show="form.email.$error.required">Please enter email.</span>
	      <span ng-show="form.email.$error.email">Email is not a valid.</span>
	      <span ng-show="form.email.$error.uniqueemail">This email is already registered.</span>
	      <span ng-show="form.email.$valid">OK</span>
	    </span>
	    <br>		 
		<label for="login">Login:</label> 
		<input type="text" name="login" id="login" ng-model="user.login" ng-model-options="{ updateOn: 'blur' }" required minlength="3" uniquelogin>
		<span ng-show="form.$submitted || form.login.$touched">
	      <span ng-show="form.login.$error.required">Please enter login.</span>
	      <span ng-show="form.login.$error.minlength">Login should be at least 3 characters.</span>
	      <span ng-show="form.login.$error.uniquelogin">Login is already registered.</span>
	      <span ng-show="form.login.$valid">OK</span>
	    </span>
	    <br>
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" ng-model="user.password" ng-model-options="{ updateOn: 'blur' }" required minlength="6"> 
		<span ng-show="form.$submitted || form.password.$touched">
	      <span ng-show="form.password.$error.required">Please enter password.</span>
	      <span ng-show="form.password.$error.minlength">Password should be at least 6 characters.</span>
	      <span ng-show="form.password.$valid">OK</span>
	    </span>
		<br>
		<label for="password2">Retype Password:</label> 
		<input type="password" name="password2" id="password2" ng-model="user.password2" ng-model-options="{ updateOn: 'blur' }" required repeatpassword>
		<span ng-show="form.$submitted || form.password2.$touched">
	      <span ng-show="form.password2.$error.required">Please retype password.</span>
	      <span ng-show="form.password2.$error.repeatpassword">Password is not the same.</span>
	      <span ng-show="form.password2.$valid">OK</span>
	    </span>
		<br>
		<button type="submit" ng-click="register()">Register</button>
	</form>
</div>

