<div ng-app="app">
	<script src="/js/registered.js"></script>
		<div ng-controller="RegisteredController">
		<div class="alert alert-info">
			<p>
				<strong>Well done!</strong>
			</p>
			<p>
				Now we need to verify your email.
			</p>
		</div>
		<p>
			We sent verification link to your email address, please <b>check your Inbox and click on the link</b> to finish sign up.
		</p>
		<p>
			If you don't see this email in your Inbox within 15 minutes, look for it in your Spam mail folder. If you find it there, please mark the email as "Not Spam".
		</p>
	</div>
</div>



